a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
    text-align: center;
}
.container {
    margin:0;
    padding:0;
    width: inherit;
    height: inherit;
}
header {
    text-align: center;
    vertical-align: center;
    width: inherit;
    position: fixed;
    z-index: 10;
    height: 60px;
    background-color: white;
    box-shadow: 0px 3px  5px rgba(20, 30, 30, 0.2);
    z-index: 11;
}
.logo {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100%;
}
header img {
    width: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.my-account {
    vertical-align: center
}
.content {
    padding-top: 60px;
}

.left-menu {
    box-shadow: 3px 0px 5px gray;
    padding-bottom: 100%;
    overflow: hidden;
    z-index: 10;
}
.menu-table .menu {
    font-weight: bold;
}
.menu-table .non-menu {
    text-indent: 1em;
}
.menu-table .non-menu:hover{
    box-shadow: 1px 1px 2px 2px gray inset;
}

.mid-menu {
    overflow: scroll;
    height: inherit;
    padding-right:0;
    border-right: black solid 1px;
}
.friends-table tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: scroll;
}
.friends-table td {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    overflow: hidden;
}
.friends-table td:hover {
    box-shadow: 1px 1px 2px 2px gray inset;
}
.friends-table .friend-name {
    padding: 10%;
}
.friends-table img {
    border-radius:50%;
    width: 100%;
}
.right-menu .friend-search {
    display: grid;
    height: 50px;
    grid-template-columns: 6fr 1fr;
    padding: 0;
}
#friend-search-box {
    height: 50px;
    padding: 0;
    margin: 0;
}
#friend-search-box::placeholder {
    color: #999999;
}
.friend-search button {
    height: 50px;
}

.url-name {
    word-break: keep-all;
}
.url-name:hover {
    box-shadow: 1px 1px 2px 2px gray inset;
}
.website-thumbnail {
    height: 50px;
}
.my-friends-menu .friends-profile {
    height: 50px;
    width: 50px;
}

.right-menu {
    overflow: scroll;
    padding:0;
}

.active-table {
    box-shadow: 1px 1px 2px 2px gray inset;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.wrap{
  width: 90%;
  top: 100%;
  left: 50%;
  transform: translate(-10%, 10%);
}
